# Explicitly set languages
*.py linguist-language=Python
*.js linguist-language=JavaScript
*.html linguist-language=HTML

# Ignore build and vendor files
node_modules/** linguist-vendored
dist/** linguist-vendored
